<section id="footer" class="bg-dark text-white rounded-footer p-5">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-8 text-start">
          <h1>Let's connect there</h1>
        </div>
        <div class="col-md-4 text-end">
          <button class="btn text-white rounded-5">Hire me</button>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-3">
          <div class="text-center d-flex align-items-center py-1">
            <span class="bg-pink d-flex justify-content-center align-items-center me-2">M</span>
            <a class="navbar-brand" href="#">Maryem</a>
          </div>
          <p class="text-white-50">I handle both client and server-side development, using a wide range of coding
            skills. I enjoy problem-solving, testing, and optimizing code for efficiency.</p>
          <div class="d-flex justify-content-start mt-3">
            <a href="#" class="text-white me-3"><i class="fab fa-linkedin-in"></i></a>
            <a href="#" class="text-white me-3"><i class="fab fa-twitter"></i></a>
            <a href="#" class="text-white me-3"><i class="fab fa-github"></i></a>
            <a href="#" class="text-white"><i class="fab fa-facebook-f"></i></a>
          </div>
        </div>
        <div class="col-md-3">
          <h5 class="color-pink">Navigation</h5>
          <ul class="list-unstyled ">
            <li class="pb-2"><a href="#" class="text-white text-decoration-none fw-lighter">Home</a></li>
            <li class="pb-2"><a href="#" class="text-white text-decoration-none fw-lighter">About</a></li>
            <li class="pb-2"><a href="#" class="text-white text-decoration-none fw-lighter">Services</a></li>
            <li class="pb-2"><a href="#" class="text-white text-decoration-none fw-lighter">Resume</a></li>
            <li><a href="#" class="text-white text-decoration-none fw-lighter">Projects</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h5 class="color-pink">Contact Info</h5>
          <p>123 Main Street<br>
            Anytown, USA 12345<br>
            Phone: 555-555-5555<br>
            Email: info@example.com</p>
        </div>
        <div class="col-md-3">
          <h5 class="color-pink">Send Email</h5>
          <form>
            <div class="mb-3">
              <input type="email" class="form-control" placeholder="Enter your email">
            </div>
            <button type="submit" class="btn rounded-5 text-white">Submit</button>
          </form>
        </div>
      </div>
      <hr>
      <div class="row align-items-center">
        <div class="col-md-8 text-start">
          <p class="text-white-50 fw-lighter">Copyright © 2024 <span class="color-pink">Maryem</span>. All Rights Reserved.</p>
        </div>
        <div class="col-md-4 text-end">
          <p class="text-white-50 fw-lighter">User terms & Conditions | Privacy policy</p>
        </div>
      </div>

    </div>
    

  </section>